{% extends 'temp/home_usr.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <center>
        <h2 class="cycle_taital">Book cycle</h2>
        <form method="post">
            {% csrf_token %}
            <table  style="height: 200px;width: 400px">
                <tr>
                    <td>Date</td>
                    <td><input type="date" name="date" required></td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td><input type="time" name="time" required></td>
                </tr>
            </table>
            <button class="btn">Send</button>
        </form>
    </center>
    
</body>
</html>
{% endblock %}