<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>track user</title>
</head>
<body>
    <center>
       <h2><b>track user</b></h2> 
        <table border="1">
            <tr>
                <th>user</th>
                <th>booking id</th>
                <th>location</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </center>
    
</body>
</html>