{% extends 'temp/home_public.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center>
    <h2 class="cycle_taital">Feedbacks</h2>
        <table border="1" class="table table-striped">
            <tr style="background-color: #274d5a;color: #FFFFFF">
                <th>user</th>
                <th>shop</th>
                <th>feedback</th>
            </tr>
            {% for i in a %}
            <tr>
                <td>{{ i.user.name }}</td>
                <td>{{ i.render.shop_name }}</td>
                <td>{{ i.feedback }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>
{% endblock %}